body{

    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    
    margin-left: 1100;
}

table{

    font-weight: bold;
    font-size: 40px;
    margin-left: 20px;
    /*margin-left: 1100;*/
}

#tableDisks{

    position: fixed;
    margin-left: 70px;
    

}

th{

    font-weight: bold;
}